@font-face {
    font-family: headerFont;
    src: url('../fonts/blowbrush.ttf');
}

body{
    background-color: #747eb5;
    background-image: url('../images/miigii_podcast_logo.png');
    background-size: 100px 100px;
}

body, html{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background: #ffd556;
    text-transform: uppercase;
    font-family: headerFont;
    padding: 25px 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#episodes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.coverContainer{
    position: relative;
    background: #000;
}

.coverContainer:hover img{
    opacity: 0.3;
}

.coverHover{
    display: none;
}

.coverHover p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: #fff;
    font-size: 22px;
}

.coverHover, .episodeExpanded h2{
    text-align: center;
}

.episodeContainer{
    background: #ccc;
    padding: 5px;
    margin: 5px;
}

.coverContainer, .episodeContainer, .episodeCover{
    width: 300px;
    height: 300px;
}

.episodeExpanded{
    height: auto;
}

.episodeExpanded .episodeInfo{
    padding: 5px;
}

.episodeHeader{
    font-size: 20px;
}

.title{
    font-size: 72px;
    margin: 0;
}